html {
    background-color: #f7f7f7;
}

body {
    max-width: 520px;
    margin: auto;
}

body,
input,
textarea,
button,
select {
    font-size: 16px;
    font-family: Maven Pro;
    color: #666;
    line-height: 1.8;
}

img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-40 {
    margin-bottom: 40px;
}

.px-10 {
    padding: 0 10px;
}

.px-15 {
    padding: 0 15px;
}

.px-20 {
    padding: 0 20px;
}

.px-40 {
    padding: 0 40px;
}

.pb-20 {
    padding-bottom: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.form-control {
    height: 55px;
    font-size: 18px;
    margin-top: 8px;
}

.w-25 {
    width: 25px;
}

h3 {
    color: var(--main-color);
}

.color-main {
    color: var(--main-color);
}

.color-second {
    color: #666666bf;
}

.title h3 span {
    font-size: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.box-ab-theme-1 .title {
    margin-bottom: 25px;
}

.box-ab-theme-1 .title h3 {
    padding-bottom: 5px;
    margin-top: 70px;
}

.box-ab-theme-1 .title h3 span {
    /* border-bottom: 1px solid var(--main-color); */
    padding-bottom: 5px;
}

.box-ab-theme-1 .ab-img {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.ab-img .text-verticle h3 {
    margin-right: 9px;
    line-height: 31px;
    margin-top: -7px;
}

.box-ab-theme-1 .ab-img .img {
    width: 45%;
    margin-right: 14px;
}

.ab-fill .name {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 2px;
    line-height: 18px;
}

.ab-fill .date {
    margin-bottom: 5px;
}

.ab-fill .text {
    padding-left: 20px;
    padding-right: 20px;
}

.line {
    display: flex;
    justify-content: center;
}

.line-cap {
    padding: 0 10px;
    border-top: 1.5px solid #6663;
    height: 1.5px;
    line-height: 0.1em;
    display: flex;
    justify-content: center;
    width: 30%;
}

.line-cap div {
    position: relative;
    background-color: #fff;
    padding: 0px 5px;
    height: 25px;
    margin-top: -12px;
    text-align: center;
}

.line .heart1 {
    position: relative;
}

.line .heart2 {
    margin-left: -20px;
}

.love-icon {
    width: 46px;
}

.box-ab-theme-1 .ab-end {
    align-items: flex-end;
}

.ab-img-bt .img img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}

.ab-img .img img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.box-ab-theme-1 .ab-end h3 {
    margin-bottom: -7px;
    margin-top: 0px;
    /* margin-left: 9px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 16px;
}

.slide-box {
    margin-top: 25px;
}

.slick-prev {
    position: absolute;
    left: 0px;
    top: 48%;
    cursor: pointer;
    z-index: 1000;
}

.slick-next {
    position: absolute;
    right: 0px;
    top: 48%;
    cursor: pointer;
    z-index: 1000;
}

.count-down-wrap {
    display: inline-block;
}

.count-down-wrap .time-left {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 5px;
    text-align: center;
    height: 115px;
    width: 80px;
    margin: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    box-shadow: 0 3px 3px #0003;
}

.count-down-wrap .time-left span.num {
    padding-bottom: 10px;
}

.count-down-wrap .num {
    color: var(--main-color) !important;
}

.count-down-wrap .time-left span {
    display: block;
    line-height: 1em;
}

.count-down-wrap .time-left span.count-label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.count-down-wrap .time-left span {
    display: block;
    line-height: 1em;
}

.btn-save-cal {
    margin-top: 15px;
}

.addevent {
    background-color: #fff;
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    display: inline-block;
    box-shadow: 0.25px 0.75px 2.75px 0.25px #ddd;
    visibility: visible;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.addevent span {
    display: block;
    line-height: 16px;
    padding: 20px 20px 20px 42px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.addevent:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASklEQVQ4jWNgQAX/GfADrPL/kST+o4n9JyCPySFgAFY92BQTi3H7iwiA0wBs/sVHU98AYgGGAeTS1DOAVEC2C2hnAKmAekmZIgAAWgZnmVNBBskAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    left: 20px;
    top: 20px;
}

.note-msg div {
    padding: 50px 10px !important;
    background-image: url("../Static/Images/papyrus.png") !important;
    display: block !important;
    text-align: center;
    width: 100%;
}

.note-msg div h1 {
    font-size: 20px !important;
    line-height: 1.5em !important;
    letter-spacing: 0px !important;
    color: #666 !important;
    text-transform: none !important;
}

.wrapper-ts {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
}

.wrapper-ts input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: var(--main-color);
}

.wrapper-ts .option span {
    font-size: 14px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: var(--main-color);
}

.wrapper-ts .option {
    background: #fff;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper-ts .option .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.box-invite {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
}

.box-icon-ts {
    display: flex;
    justify-content: space-between;
}

.wrapper-ts-boxp {
    display: contents;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
}

.wrapper-ts-boxp .optionboxp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper-ts-boxp .optionboxp .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
}

.wrapper-ts-boxp .optionboxp svg {
    width: 45px;
}

#option-1boxp:checked:checked~.option-1boxp svg path,
#option-2boxp:checked:checked~.option-2boxp svg path,
#option-3boxp:checked:checked~.option-3boxp svg path {
    fill: var(--main-color);
}

.wrapper-ts-boxp input[type="radio"] {
    display: none;
}

#option-1boxp:checked:checked~.option-1boxp span,
#option-2boxp:checked:checked~.option-2boxp span,
#option-3boxp:checked:checked~.option-3boxp span {
    color: var(--main-color);
}

.wrapper-ts-boxp .optionboxp span {
    font-size: 13px;
    text-align: center;
}

.fix-info {
    text-align: center;
    background-color: transparent;
    padding: 0;
}

.hide-pt {
    /* display: none !important; */
}

.box-pt-info {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    text-align: left;
    line-height: 24px;
}

.gf_button {
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--main-color);
    border-style: solid;
    font-size: 22px;
    text-transform: capitalize;
    border-width: 0px 0px 0px 0px;
    border-color: var(--main-color);
    width: 100%;
    min-height: 60px;
    border-radius: 3px 5px 5px 5px;
    padding: 5px 15px 5px 15px;
    opacity: 0.9;
}

.gf_button:hover {
    opacity: 1;
}

.dotted {
    border-style: dotted !important;
    border-color: #ccc !important;
    width: 60% !important;
    border-top-width: 1px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
}

.momo {
    width: 250px;
    margin: auto;
}

.ic-call {
    background-repeat: no-repeat;
    background-image: url("../Static/Images/ic_call.png") !important;
    background-size: contain;
    width: 60px;
    height: 60px;
}